flows.json
[{"id":"58c9496f.d24c98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"75a6f676.9f4168","type":"microphone","z":"58c9496f.d24c98","name":"","x":130,"y":60,"wires":[["a69d9d7.e3b646"]]},{"id":"a69d9d7.e3b646","type":"watson-speech-to-text","z":"58c9496f.d24c98","name":"","alternatives":1,"speakerlabels":false,"smartformatting":true,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"xtUyhEB7jf-RwBJLAtqJ4C3kbKy6Vzr7Rg1vpJny6uFZ","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":320,"y":60,"wires":[["bb482dc7.cdb19"]]},{"id":"bb482dc7.cdb19","type":"function","z":"58c9496f.d24c98","name":"função 1","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":60,"wires":[["43b54f3b.ea13e","94354c2d.0ad36"]]},{"id":"43b54f3b.ea13e","type":"link out","z":"58c9496f.d24c98","name":"","links":["d75dffe3.2f379"],"x":755,"y":60,"wires":[]},{"id":"d75dffe3.2f379","type":"link in","z":"58c9496f.d24c98","name":"","links":["43b54f3b.ea13e"],"x":55,"y":160,"wires":[["a2b0727e.4396f"]]},{"id":"a2b0727e.4396f","type":"switch","z":"58c9496f.d24c98","name":"switch 1","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"bruna","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":160,"wires":[["337f0584.5d091a"],["a28c5b4c.3c72d8"]]},{"id":"337f0584.5d091a","type":"function","z":"58c9496f.d24c98","name":"função 2","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":120,"wires":[["fbb56e07.cfd39","aa0a43e2.b8832"]]},{"id":"a28c5b4c.3c72d8","type":"function","z":"58c9496f.d24c98","name":"função 3","func":"msg.payload = \"Diga bruna, antes do comando\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":180,"wires":[["f7d50ead.81a69","5ed65400.8b3d1c"]]},{"id":"fbb56e07.cfd39","type":"link out","z":"58c9496f.d24c98","name":"","links":["24fc5a7c.a433a6"],"x":755,"y":120,"wires":[]},{"id":"f7d50ead.81a69","type":"link out","z":"58c9496f.d24c98","name":"","links":["467ddfdd.ef2cd"],"x":755,"y":180,"wires":[]},{"id":"3d2fed48.ca0fd2","type":"link in","z":"58c9496f.d24c98","name":"","links":["a064b33e.5b548"],"x":55,"y":460,"wires":[["9f67c394.7f982"]]},{"id":"9f67c394.7f982","type":"switch","z":"58c9496f.d24c98","name":"switch 2","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ação","vt":"str"},{"t":"cont","v":"comédia","vt":"str"},{"t":"cont","v":"horror","vt":"str"},{"t":"cont","v":"romance","vt":"str"},{"t":"cont","v":"qualquer","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":300,"y":460,"wires":[["420b18bb.84fd98"],["56c487ec.b42388"],["52a72e82.8412c"],["93a2810b.870dd"],["1f48e055.b3658"],["fbe968b3.560a18","f2f0a12d.23702"]]},{"id":"420b18bb.84fd98","type":"http request","z":"58c9496f.d24c98","name":"http request - ação","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.themoviedb.org/3/movie/top_rated?api_key=fdef3c7b1c0aa499d80deacfa299a97e&language=pt-BR&page=1page=1&include_adult=false&with_genres=28","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":360,"wires":[["5d5f55c4.158f6c","37818fd9.015f4"]]},{"id":"56c487ec.b42388","type":"http request","z":"58c9496f.d24c98","name":"http request - comédia","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.themoviedb.org/3/movie/top_rated?api_key=fdef3c7b1c0aa499d80deacfa299a97e&language=pt-BR&page=1page=1&include_adult=false&with_genres=35","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":400,"wires":[["5d5f55c4.158f6c","57c09b11.9cd464"]]},{"id":"52a72e82.8412c","type":"http request","z":"58c9496f.d24c98","name":"http request - horror","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.themoviedb.org/3/movie/top_rated?api_key=fdef3c7b1c0aa499d80deacfa299a97e&language=pt-BR&page=1page=1&include_adult=false&with_genres=27","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":440,"wires":[["5d5f55c4.158f6c","c28358dc.0191d8"]]},{"id":"93a2810b.870dd","type":"http request","z":"58c9496f.d24c98","name":"http request - romance","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.themoviedb.org/3/movie/top_rated?api_key=fdef3c7b1c0aa499d80deacfa299a97e&language=pt-BR&page=1page=1&include_adult=false&with_genres=10749","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":480,"wires":[["5d5f55c4.158f6c","6409079.be561f8"]]},{"id":"fbe968b3.560a18","type":"link out","z":"58c9496f.d24c98","name":"","links":["467ddfdd.ef2cd"],"x":495,"y":560,"wires":[]},{"id":"1f48e055.b3658","type":"http request","z":"58c9496f.d24c98","name":"http request - qualquer","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.themoviedb.org/3/movie/top_rated?api_key=fdef3c7b1c0aa499d80deacfa299a97e&language=pt-BR&page=1","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":520,"wires":[["5d5f55c4.158f6c","29ebc9db.26da66"]]},{"id":"5d5f55c4.158f6c","type":"function","z":"58c9496f.d24c98","name":"função 5","func":"a = Math.floor(Math.random()*10);\nmsg.payload = msg.payload.results[a].title;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":580,"wires":[["d5385b40.bd82e8","b3e9f180.acd5e"]]},{"id":"d5385b40.bd82e8","type":"link out","z":"58c9496f.d24c98","name":"","links":["467ddfdd.ef2cd"],"x":915,"y":620,"wires":[]},{"id":"467ddfdd.ef2cd","type":"link in","z":"58c9496f.d24c98","name":"","links":["fbe968b3.560a18","d5385b40.bd82e8","f7d50ead.81a69"],"x":55,"y":680,"wires":[["534f3369.04d4fc"]]},{"id":"534f3369.04d4fc","type":"watson-text-to-speech","z":"58c9496f.d24c98","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"ymqL-MfnkiV8X8h8gzAvulNonA5qpIQOEbiX3HHAtsen","payload-response":true,"service-endpoint":"","x":220,"y":680,"wires":[["c7997ab2.8cf948"]]},{"id":"c7997ab2.8cf948","type":"play audio","z":"58c9496f.d24c98","name":"","voice":"16","x":550,"y":680,"wires":[]},{"id":"fc488baa.a9ab88","type":"comment","z":"58c9496f.d24c98","name":"1 - Transcrição de áudio para texto","info":"","x":180,"y":20,"wires":[]},{"id":"412cdd74.14ae74","type":"comment","z":"58c9496f.d24c98","name":"2 - Verificação da palavra-chave","info":"","x":170,"y":100,"wires":[]},{"id":"538913ed.2c2edc","type":"comment","z":"58c9496f.d24c98","name":"4 - Busca - Através de HTTP Request (Método Get)","info":"","x":230,"y":360,"wires":[]},{"id":"e43caf0a.6bec6","type":"comment","z":"58c9496f.d24c98","name":"5 - Resposta - Transforma texto para áudio","info":"","x":200,"y":640,"wires":[]},{"id":"24fc5a7c.a433a6","type":"link in","z":"58c9496f.d24c98","name":"","links":["fbb56e07.cfd39"],"x":55,"y":280,"wires":[["ebfc5a97.e2f988"]]},{"id":"ebfc5a97.e2f988","type":"watson-conversation-v1","z":"58c9496f.d24c98","name":"","workspaceid":"4104f91a-95fe-4fd3-84c6-c02bf15c31ce","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":300,"y":280,"wires":[["5462ecf5.edeff4"]]},{"id":"5462ecf5.edeff4","type":"function","z":"58c9496f.d24c98","name":"função 4","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":280,"wires":[["a064b33e.5b548","62539864.8151e8"]]},{"id":"a064b33e.5b548","type":"link out","z":"58c9496f.d24c98","name":"","links":["3d2fed48.ca0fd2"],"x":755,"y":280,"wires":[]},{"id":"2e2d67a4.344e48","type":"comment","z":"58c9496f.d24c98","name":"3 - Diálogo - Consulta ao chatbot ","info":"","x":170,"y":240,"wires":[]},{"id":"37818fd9.015f4","type":"debug","z":"58c9496f.d24c98","name":"Output - Request Ação","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":360,"wires":[]},{"id":"57c09b11.9cd464","type":"debug","z":"58c9496f.d24c98","name":"Output - Request Comédia","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":400,"wires":[]},{"id":"c28358dc.0191d8","type":"debug","z":"58c9496f.d24c98","name":"Output - Request Horror","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":440,"wires":[]},{"id":"6409079.be561f8","type":"debug","z":"58c9496f.d24c98","name":"Output - Request Romance","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":480,"wires":[]},{"id":"29ebc9db.26da66","type":"debug","z":"58c9496f.d24c98","name":"Output - Request Qualquer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":520,"wires":[]},{"id":"b3e9f180.acd5e","type":"debug","z":"58c9496f.d24c98","name":"Output - função 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":580,"wires":[]},{"id":"62539864.8151e8","type":"debug","z":"58c9496f.d24c98","name":"Output - função 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":260,"wires":[]},{"id":"5ed65400.8b3d1c","type":"debug","z":"58c9496f.d24c98","name":"Output - função 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":160,"wires":[]},{"id":"aa0a43e2.b8832","type":"debug","z":"58c9496f.d24c98","name":"Output - função 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":100,"wires":[]},{"id":"f2f0a12d.23702","type":"debug","z":"58c9496f.d24c98","name":"Output - Em outros casos","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":600,"wires":[]},{"id":"94354c2d.0ad36","type":"debug","z":"58c9496f.d24c98","name":"Output - função 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":40,"wires":[]}]